/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffd6e8;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  -webkit-text-size-adjust: 100%;
    position: relative;
  overflow: hidden;
}

/* APP */
#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* SOBRE */
#envelope {
  margin-top: 20vh;
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
}

#envelope p {
  font-size: 1rem;
}

/* CARTA */
#letter {
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 16px;
  padding: 1.2rem;
  line-height: 1.6;
  margin-top: 2rem;
}

/* BOTÓN */
button {
  margin-top: 1rem;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #ff7eb3;
  color: white;
  font-size: 1rem;
}

/* CHAT */
#chat {
  width: 100%;
  max-width: 420px;
  height: 70svh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
}

/* MENSAJES */
.message {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 0.6rem;
  border-radius: 18px;
  font-size: 0.95rem;
  animation: pop 0.25s ease-out;
  word-wrap: break-word;
}

.left {
  align-self: flex-start;
  background: white;
}

.right {
  align-self: flex-end;
  background: #ffb6d5;
}

/* ANIMACIÓN */
@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* UTIL */
.hidden {
  display: none;
}
#letter {
  position: relative;
  overflow: hidden;
}

.photo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.photo-background img {
  position: absolute;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease;
}


/* Contenido encima */
.letter-content {
  position: relative;
  z-index: 2;
}

#app {
  position: relative;
  z-index: 2;
}

#letter {
  position: relative;
  z-index: 3;
}

#chat {
  position: relative;
  z-index: 3;
}

#envelope {
  position: relative;
  z-index: 3;
}
